
@import url('https://fonts.googleapis.com/css?family=Nunito:800');

html, body {
    width: 100%;
    font-family: "Arial";
    background: linear-gradient(0deg, #B3DEB9, #4D9897) no-repeat;
    height: 100vh;
    margin:0;
}


h1 {
  text-align: center;
  padding: 10px;
  color: #f1f1f1;
  font-family:'Nunito', sans-serif;
  letter-spacing: 1px;
  font-size: 40px;
  margin: 10px auto;
}
.btcwdgt-price {
  z-index: 10 !important;
  width: 40px !important;
  position: absolute !important;
  right: 0 !important;
  bottom: 0px !important;
}
.game-container{
  z-index: 10;
  position: absolute;
  width: 100%;
  text-align: center;
}
.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  margin: 0px auto;
}

 .td {
  display: inline-block;
  height: 150px;
  width: 150px;
  text-align: center;
  font-size: 15vh;
  font-weight: bold;
  color: #222;
  background: #FEDF84;
  font-family: 'Nunito', sans-serif;
  margin: 15px;
  vertical-align: middle;
  box-shadow: 10px 10px 0px #FDBA76 ;
  /* filter: drop-shadow(0px 10px #F9976A ); */
}
canvas {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
  z-index: 1;
}

#c1 {
	opacity: 0;
}

#c2 {
	background: #505568;
  background: linear-gradient(0deg, #B3DEB9, #4D9897) no-repeat;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 15;
  display:none;
}
.modal__box {
  margin: 30vh auto;
  padding: 15px;
  max-width: 600px;
  background: #f1f1f1;
  text-align: center;
}
.modal__box h2 {
  font-size: 28px;
  text-align: center;
  color: #333;
  margin-bottom: 15px;
}


button {
  font-weight: bold;
  background: transparent;
  border: 1px solid #333;
  padding: 10px 25px;
  margin-bottom: 15px;
}
